@font-face {
  font-family: 'Genshin';
  src: url('/font/zh-cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Genshin';
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFF;
}
::-webkit-scrollbar-thumb {
    background: #dcb37b;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #634832;
}

/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #634832;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #dcb37b;
}
nav.sticky .navbar .logo a{
  color: #ece0d1;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #dcb37b;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #FFF;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #dcb37b;
}
.navbar .media-icons a{
  color: #dcb37b;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #634832;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background-image: url("/images/GamepageBG.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home .text-quote{
  color: #FFF;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-main{
  color: #dcb37b;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-sub{
  font-size: 40px;
  margin: 5px 0;
  color: #FFF;
}

.home .button {
  margin: 14px 0;
  width: 120px;
  padding: 5px 10px;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
  background: #dcb37b;
  color: #FFF;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button:hover {
  border-color: #dcb37b;
  background-color: #fff;
  color: #dcb37b;
}


/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
  background-color: #dcb37b;
  padding-bottom: 10px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  width: 90%;
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #38220f;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #634832;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

section .topic{
  color: #38220f;
  font-size: 25px;
  font-weight: 500;
  
}
  

 /* projects CSS */
 .projects{
   background: #dcb37b;
 }

 .projects .project-details{
    width: 90%;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
 }

 .projects .media-scroller{
  --spacer:3rem;
  display:grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  padding: 0 var(--spacer) var(--spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
 }

 .projects .media-element{
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--size-3);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
 }

 .projects .media-element > img{
  inline-size: 100%;
  aspect-ratio: 10/10;
  object-fit: cover;
 }

 .projects .snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer, 1rem);
 }

 .projects .snaps-inline > *{
  scroll-snap-align: start;
 }

 #worderland {
    background: #dcb37b; /* Your desired background color for Worderland Valley */
  }
  
  #snakez {
    background: #abcdef; /* Your desired background color for Snakez */
  }
  
  #tekken {
    background: #fedcba; /* Your desired background color for Tekken Shmup */
  }

/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background:  #dcb37b;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background:  #dcb37b;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color:  #dcb37b;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color:  #dcb37b;
  }
}